a {
  text-decoration: none;
}

.container__big-card {
  width: 370px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content:flex-start ;
  align-items: flex-start;

  margin-left: 20px;
  margin-right: 20px;

}

.big-card__title h1 {
  font-size: 20px;
  margin-top: 10px;
}

.big-card__description {
  margin-top: 10px;
}

.big-card__description p a {
  margin-top: 10px;
  color: grey;
}

.big-card__photo img {
  width: 100%;

}




