
  <div class="container__small-card">
    <div class="container__small-card-content">
      <div class="small-card__photo">
        <img

          src="https://cdn.ome.lt/INKQHXKjnKSOgAPYk0I-5TMx5Do=/570x0/smart/uploads/conteudo/fotos/novos_animes_2024.png"

          alt="img-small-card"
          height="250px"



        >

      </div>

      <div class="small-card__title">
        <h1><a href="#">Saiu a nova versão do angular</a></h1>

      </div>

    </div>


    <div class="small-card__content-divisor">
      <hr>
    </div>





  </div>



