
.container__menu-bar ul {

  display: flex;
  flex-direction: row;
}

.container__menu-bar ul  li{
   margin-right: 20px;
}
ul li {
  list-style: none;
}

a
 {
  text-decoration: none;
  text-transform: uppercase;
 }

 a:hover {
  color: rgb(40, 87, 128);

}
